@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-button-prev,
.swiper-button-next {
  color: #1d4ed8; /* Tailwind blue-600 */
}

.swiper-pagination-bullet {
  background: #1d4ed8;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
